<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="APP_TIMEZONE" value="Africa/Dar_es_Salaam"/>

        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>

        <env name="CACHE_STORE" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>

        <env name="MAIL_MAILER" value="log"/>
        <env name="MAIL_HOST" value="127.0.0.1"/>
        <env name="MAIL_PORT" value="2525"/>
        <env name="MAIL_USERNAME" value="null"/>
        <env name="MAIL_PASSWORD" value="null"/>
        <env name="MAIL_ENCRYPTION" value="null"/>
        <env name="MAIL_FROM_ADDRESS" value="inventory@mtokoma.co.tz"/>
        <env name="MAIL_FROM_NAME" value="Mtokoma Motorcycle Parts"/>

        <env name="BROADCAST_DRIVER" value="log"/>
        <env name="FILESYSTEM_DISK" value="local"/>
    </php>
</phpunit>
